---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<section class="mx-auto max-w-5xl pt-10">
			<div class="grid grid-cols-1 items-center md:grid-cols-2 gap-4">
				<div class="space-y-6">
					<div class="flex items-center">
						<img src="/profile2.webp" alt="Tresor Kasenda" class="size-1/3 rounded-lg bg-center hover:origin-top-left transition-all hover:scale-100 -rotate-3 object-cover" />
						<img src="/profile1.webp" alt="Tresor Kasenda" class="size-1/2 rounded-lg bg-center hover:origin-top-left transition-all rotate-6 object-cover" />
					</div>

					<h2 class="text-4xl font-medium leading-tight tracking-wide text-gray-700">I'm Tresor Kasenda</h2>

					<p class="text-base leading-tight font-light">
						Digital Product Designer based <br> in 
						Lubumbashi, DR. Congo.
					</p>
				</div>
				<div class="space-y-6">
					<h2 class="text-4xl font-light leading-tight">
						Passionate creating great <br> experiences for Digital Product
					</h2>
					<div class="flex items-center gap-x-6 pb-20">
						<a href="#" class="bg-gray-900 px-4 py-2 rounded-full text-sm text-white">Talk with me</a>
						<a href="#" class="border border-gray-200 rounded-full px-4 py-2 text-gray-700">See my work</a>
					</div>

					<div class=" border-t border-gray-200 space-y-7">
						<h3 class="text-2xl font-medium leading-tight pt-20">Working experience</h3>
						<div class="grid grid-cols-2 gap-4">
							<div class="space-y-2">
								<h4 class="text-lg font-medium">UI/UX Designer</h4>
								<p class="text-sm text-gray-500">2019 - Present</p>
							</div>
							<div class="space-y-2">
								<h4 class="text-lg font-medium">Frontend Developer</h4>
								<p class="text-sm text-gray-500">2017 - 2019</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
</Layout>