---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Tresor Kasenda.">
	<main>
		<section class="mx-auto max-w-5xl pt-10 pb-14">
			<div class="grid grid-cols-1 items-baseline md:grid-cols-2 gap-4">
				<div class="space-y-6">
					<div class="flex items-center">
						<img src="/profile2.webp" alt="Tresor Kasenda" class="size-1/3 rounded-lg bg-center hover:origin-center hover:scale-100 hover:-rotate-3 transition-all -rotate-12 object-cover" />
						<img src="/profile1.webp" alt="Tresor Kasenda" class="size-1/2 rounded-lg bg-center hover:origin-center hover:scale-125 hover:-rotate-12 transition-all rotate-6 object-cover" />
					</div>

					<h2 class="text-5xl font-medium leading-tight">Hello ! I'm Tresor Kasenda</h2>
				</div>
				<div class="space-y-7">
					<div class="mx-auto flex items-center justify-center space-x-4">
						<a href="#"  target="_blank">
							<svg 
								xmlns="http://www.w3.org/2000/svg" 
								viewBox="0 0 24 24"  
								fill="none" 
								class="size-8 relative z-10 text-gray-900">
								<path d="M6.51734 17.1132C6.91177 17.6905 8.10883 18.9228 9.74168 19.2333M9.86428 22C8.83582 21.8306 2 19.6057 2 12.0926C2 5.06329 8.0019 2 12.0008 2C15.9996 2 22 5.06329 22 12.0926C22 19.6057 15.1642 21.8306 14.1357 22C14.1357 22 13.9267 18.5826 14.0487 17.9969C14.1706 17.4113 13.7552 16.4688 13.7552 16.4688C14.7262 16.1055 16.2043 15.5847 16.7001 14.1874C17.0848 13.1032 17.3268 11.5288 16.2508 10.0489C16.2508 10.0489 16.5318 7.65809 15.9996 7.56548C15.4675 7.47287 13.8998 8.51192 13.8998 8.51192C13.4432 8.38248 12.4243 8.13476 12.0018 8.17939C11.5792 8.13476 10.5568 8.38248 10.1002 8.51192C10.1002 8.51192 8.53249 7.47287 8.00036 7.56548C7.46823 7.65809 7.74917 10.0489 7.74917 10.0489C6.67316 11.5288 6.91516 13.1032 7.2999 14.1874C7.79575 15.5847 9.27384 16.1055 10.2448 16.4688C10.2448 16.4688 9.82944 17.4113 9.95135 17.9969C10.0733 18.5826 9.86428 22 9.86428 22Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg>
						</a>
						<a href="#" target="_blank">
							<svg 
								xmlns="http://www.w3.org/2000/svg" 
								viewBox="0 0 24 24" 
								fill="none" 
								class="size-8 relative z-10 text-gray-900">
								<path d="M7 10V17" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M11 13V17M11 13C11 11.3431 12.3431 10 14 10C15.6569 10 17 11.3431 17 13V17M11 13V10" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M7.00801 7L6.99902 7" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path><path d="M2.5 12C2.5 7.52166 2.5 5.28249 3.89124 3.89124C5.28249 2.5 7.52166 2.5 12 2.5C16.4783 2.5 18.7175 2.5 20.1088 3.89124C21.5 5.28249 21.5 7.52166 21.5 12C21.5 16.4783 21.5 18.7175 20.1088 20.1088C18.7175 21.5 16.4783 21.5 12 21.5C7.52166 21.5 5.28249 21.5 3.89124 20.1088C2.5 18.7175 2.5 16.4783 2.5 12Z" stroke="currentColor" stroke-width="1.5" stroke-linejoin="round"></path></svg>
						</a>
						<a href="#" target="_blank">
							<svg 
								xmlns="http://www.w3.org/2000/svg" 
								viewBox="0 0 24 24" 
								fill="none" 
								class="size-8 relative z-10 text-gray-900">
								<path d="M3 21L10.5484 13.4516M21 3L13.4516 10.5484M13.4516 10.5484L8 3H3L10.5484 13.4516M13.4516 10.5484L21 21H16L10.5484 13.4516" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg>
						</a>
					</div>
					<p class="text-base leading-7">
						Je suis développeur logiciel Web Backend basé à Lubumbashi, RD Congo, spécialisé dans la création d'applications web performantes avec Laravel, Vue.js, et Tailwind CSS. 
					</h2>
					<div class="flex items-center gap-x-6 pb-5">
						<a href="#" class="bg-gray-900 px-4 py-2 rounded-full shadow text-sm text-white">Talk with me</a>
						<a href="#" class="border border-gray-300 hover:bg-gray-900 hover:border-transparent duration-300 ease-out hover:text-white transition-all text-sm rounded-full px-4 py-2 text-gray-700">See my work</a>
					</div>
				</div>
			</div>
		</section>

		<section class="bg-[#f5f5f0] pt-10">
			<div class="mx-auto max-w-5xl pt-10 pb-20 space-y-8">
				<h2 class="text-5xl font-medium leading-tight">Working experience</h2>
				<div class="grid grid-cols-1 md:grid-cols-2 gap-11">
					<div class="group">
						<a href="#" class="flex items-center justify-between border border-transparent group-hover:border-gray-200 group-hover:bg-white group-hover:scale-105 transition-all px-4 py-3 rounded-xl ease-in-out">
							<div class="flex items-center space-x-5">
								<img src="/profile1.webp" alt="" class="size-12 object-cover object-center bg-white rounded-lg">
								<div class="space-y-1">
									<h4 class="texxl font-medium font-semibold text-gray-700">Product design at User</h4>
									<p class="text-base text-gray-500">February 2018-February 2020</p>
								</div>
							</div>
							<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5 text-slate-600">
								<path stroke-linecap="round" stroke-linejoin="round" d="m4.5 19.5 15-15m0 0H8.25m11.25 0v11.25" />
							</svg>
						</a>
					</div>

					<div class="group">
						<a href="#" class="flex items-center justify-between border border-transparent group-hover:border-gray-200 group-hover:bg-white group-hover:scale-105 transition-all px-4 py-3 rounded-xl ease-in-out">
							<div class="flex items-center space-x-5">
								<img src="/profile1.webp" alt="" class="size-12 object-cover object-center bg-white rounded-lg">
								<div class="space-y-1">
									<h4 class="text-xl font-semibold text-gray-700">Product design at User</h4>
									<p class="text-base text-gray-500">February 2018-February 2020</p>
								</div>
							</div>
							<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5 text-slate-600">
								<path stroke-linecap="round" stroke-linejoin="round" d="m4.5 19.5 15-15m0 0H8.25m11.25 0v11.25" />
							</svg>
						</a>
					</div>

					<div class="group">
						<a href="#" class="flex items-center justify-between border border-transparent group-hover:border-gray-200 group-hover:bg-white group-hover:scale-105 transition-all px-4 py-3 rounded-xl ease-in-out">
							<div class="flex items-center space-x-5">
								<img src="/profile1.webp" alt="" class="size-12 object-cover object-center bg-white rounded-lg">
								<div class="space-y-1">
									<h4 class="text-xl font-semibold text-gray-700">Product design at User</h4>
									<p class="text-base text-gray-500">February 2018-February 2020</p>
								</div>
							</div>
							<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5 text-slate-600">
								<path stroke-linecap="round" stroke-linejoin="round" d="m4.5 19.5 15-15m0 0H8.25m11.25 0v11.25" />
							</svg>
						</a>
					</div>

					<div class="group">
						<a href="#" class="flex items-center justify-between border border-transparent group-hover:border-gray-200 group-hover:bg-white group-hover:scale-105 transition-all px-4 py-3 rounded-xl ease-in-out">
							<div class="flex items-center space-x-5">
								<img src="/profile1.webp" alt="" class="size-12 object-cover object-center bg-white rounded-lg">
								<div class="space-y-1">
									<h4 class="text-xl font-semibold text-gray-700">Product design at User</h4>
									<p class="text-base text-gray-500">February 2018-February 2020</p>
								</div>
							</div>
							<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5 text-slate-600">
								<path stroke-linecap="round" stroke-linejoin="round" d="m4.5 19.5 15-15m0 0H8.25m11.25 0v11.25" />
							</svg>
						</a>
					</div>
				</div>
			</div>

			<div class="mx-auto max-w-5xl pt-20 pb-10 space-y-8">
				<div class="flex items-center justify-between">
					<h2 class="text-5xl font-medium leading-tight">How i can help you</h2>
					<a href="#" class="bg-white px-4 py-2.5 hover:bg-gray-600 hover:text-white transition-colors duration-300 ease-in-out rounded-lg border border-gray-200 text-sm text-gray-600 font-medium">see my work</a>
				</div>
				<div class="space-y-4">
					<details class="border border-slate-300 rounded-xl transition-all ease-linear duration-300 hover:bg-white bg-slate-100 px-6 py-3" open>
						<summary class="flex items-center justify-between cursor-pointer transition-all duration-200 ease-linear">
							<p class="text-base text-gray-700">1</p>
							<h3 class="text-xl font-medium leading-tight tracking-wide text-gray-700">Web Development</h3>
							<a href="#" class="bg-gray-900 border border-gray-950 text-white text-sm px-4 py-1.5 rounded-xl">See detail</a>
						</summary>
						<div class="space-y-6 mt-6 duration-200 ease-linear max-h-0 overflow-hidden">
							<div class="grid grid-cols-1 md:grid-cols-2 gap-7">
								<div class="col-span-1"></div>
								<div class="col-span-1 space-y-3">
									<img src="/profile1.webp" class="rounded-xl object-cover object-center border border-gray-300" alt="">
									<p class="text-sm leading-relaxed text-gray-600 text-balance">
										Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, dolorum vel nobis animi laboriosam ipsum sit sunt, velit odit, nemo molestias ad dicta cumque ducimus totam perspiciatis quae provident? Cumque!
									</p>
								</div>
							</div>
						</div>
					</details>
					<details class="border border-slate-300 rounded-xl transition-all duration-300 hover:bg-white bg-slate-100 px-6 py-3">
						<summary class="flex items-center justify-between cursor-pointer">
							<p class="text-base text-gray-700">2</p>
							<h3 class="text-xl font-medium leading-tight tracking-wide text-gray-700">Branding Strategy</h3>
							<a href="#" class="bg-gray-900 border border-gray-950 text-white text-sm px-4 py-1.5 rounded-xl">See detail</a>
						</summary>
						<div class="space-y-6 mt-6">
							<div class="grid grid-cols-1 md:grid-cols-2 gap-7">
								<div class="col-span-1"></div>
								<div class="col-span-1 space-y-3">
									<img src="/profile1.webp" class="rounded-xl object-cover object-center border border-gray-300" alt="">
									<p class="text-sm leading-relaxed text-gray-600 text-balance">
										Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, dolorum vel nobis animi laboriosam ipsum sit sunt, velit odit, nemo molestias ad dicta cumque ducimus totam perspiciatis quae provident? Cumque!
									</p>
								</div>
							</div>
						</div>
					</details>
					<details class="border border-slate-300 rounded-xl transition-all duration-300 hover:bg-white bg-slate-100 px-6 py-3">
						<summary class="flex items-center justify-between cursor-pointer">
							<p class="text-base text-gray-700">3</p>
							<h3 class="text-xl font-medium leading-tight tracking-wide text-gray-700">Design</h3>
							<a href="#" class="bg-gray-900 border border-gray-950 text-white text-sm px-4 py-1.5 rounded-xl">See detail</a>
						</summary>
						<div class="space-y-6 mt-6">
							<div class="grid grid-cols-1 md:grid-cols-2 gap-7">
								<div class="col-span-1"></div>
								<div class="col-span-1 space-y-3">
									<img src="/profile1.webp" class="rounded-xl object-cover object-center border border-gray-300" alt="">
									<p class="text-sm leading-relaxed text-gray-600 text-balance">
										Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, dolorum vel nobis animi laboriosam ipsum sit sunt, velit odit, nemo molestias ad dicta cumque ducimus totam perspiciatis quae provident? Cumque!
									</p>
								</div>
							</div>
						</div>
					</details>
				</div>  
			</div>
		</section>

		<section class="mx-auto max-w-5xl pt-10 pb-20 space-y-6">
			
			<h2 class="text-5xl font-medium leading-tight max-w-xl">Elevate ours partners products</h2>
			<div class="grid grid-cols-1 md:grid-cols-2 gap-11">
				<div class="space-y-4">
					<img src="/profile1.webp" class="object-cover rounded-xl" alt="">
					<h3 class="text-3xl font-medium leading-tight">Product design at User</h3>
					<p>
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, dolorum vel nobis animi laboriosam ipsum sit sunt, velit odit, nemo molestias ad dicta cumque ducimus totam perspiciatis quae provident? Cumque!
					</p>
					<div class="flex items-center justify-between">
						<div>
							<span>Website</span>
						</div>
						<a href="#">View Detail</a>
					</div>
				</div>
			</div>
					
		</section>


		<footer>
			<div class="mx-auto max-w-5xl px-6">
				<a href="#" aria-label="go home" class="mx-auto block size-fit">
					<img class="size-8" src="/favicon.svg" />
				</a>
		
				<div class="my-8 flex flex-wrap justify-center gap-6 text-sm">
					<a href="#" class="text-gray-900 block hover:text-gray-600">
						<span>Services</span>
					</a>
					<a href="#" class="text-gray-900 block hover:text-gray-600">
						<span>Accompagnement</span>
					</a>
					<a href="#" class="text-gray-900 block hover:text-gray-600">
						<span>About me</span>
					</a>
					<a href="#" class="text-gray-900 block hover:text-gray-600">
						<span>Contact us</span>
					</a>
					<a href="#" class="text-gray-900 block hover:text-gray-600">
						<span>Help</span>
					</a>
					<a href="#" class="text-gray-900 block hover:text-gray-600">
						<span>Help</span>
					</a>
				</div>
				<div class="my-8 flex flex-wrap justify-center gap-6 text-sm">
					<a href="#" target="_blank" aria-label="X/Twitter" class="text-body block size-7 hover:text-title">
						<svg class="size-6" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="currentColor" d="M10.488 14.651L15.25 21h7l-7.858-10.478L20.93 3h-2.65l-5.117 5.886L8.75 3h-7l7.51 10.015L2.32 21h2.65zM16.25 19L5.75 5h2l10.5 14z"></path></svg>
					</a>
					<a href="#" target="_blank" aria-label="LinkedIn" class="text-body block size-7 hover:text-title">
						<svg class="size-6" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"
							><path fill="currentColor" d="M19 3a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2zm-.5 15.5v-5.3a3.26 3.26 0 0 0-3.26-3.26c-.85 0-1.84.52-2.32 1.3v-1.11h-2.79v8.37h2.79v-4.93c0-.77.62-1.4 1.39-1.4a1.4 1.4 0 0 1 1.4 1.4v4.93zM6.88 8.56a1.68 1.68 0 0 0 1.68-1.68c0-.93-.75-1.69-1.68-1.69a1.69 1.69 0 0 0-1.69 1.69c0 .93.76 1.68 1.69 1.68m1.39 9.94v-8.37H5.5v8.37z"></path></svg
						>
					</a>
					<a href="#" target="_blank" aria-label="Facebook" class="text-body block size-7 hover:text-title">
						<svg class="size-6" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="currentColor" d="M22 12c0-5.52-4.48-10-10-10S2 6.48 2 12c0 4.84 3.44 8.87 8 9.8V15H8v-3h2V9.5C10 7.57 11.57 6 13.5 6H16v3h-2c-.55 0-1 .45-1 1v2h3v3h-3v6.95c5.05-.5 9-4.76 9-9.95"></path></svg>
					</a>
					<a href="#" target="_blank" aria-label="Instagram" class="text-body block size-7 hover:text-title">
						<svg class="size-6" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"
							><path fill="currentColor" d="M7.8 2h8.4C19.4 2 22 4.6 22 7.8v8.4a5.8 5.8 0 0 1-5.8 5.8H7.8C4.6 22 2 19.4 2 16.2V7.8A5.8 5.8 0 0 1 7.8 2m-.2 2A3.6 3.6 0 0 0 4 7.6v8.8C4 18.39 5.61 20 7.6 20h8.8a3.6 3.6 0 0 0 3.6-3.6V7.6C20 5.61 18.39 4 16.4 4zm9.65 1.5a1.25 1.25 0 0 1 1.25 1.25A1.25 1.25 0 0 1 17.25 8A1.25 1.25 0 0 1 16 6.75a1.25 1.25 0 0 1 1.25-1.25M12 7a5 5 0 0 1 5 5a5 5 0 0 1-5 5a5 5 0 0 1-5-5a5 5 0 0 1 5-5m0 2a3 3 0 0 0-3 3a3 3 0 0 0 3 3a3 3 0 0 0 3-3a3 3 0 0 0-3-3"
							></path></svg
						>
					</a>
				</div>
				<span class="text-caption block text-center text-sm">&copy 2024 Tresor Kasenda, All rights reserved</span>
			</div>
		</footer>

	</main>
</Layout>

<style>
details > div {
  overflow: hidden;
  transition: max-height 0.3s ease;
  max-height: 0;
}
details[open] > div {
  max-height: 1000px; /* Adjust as needed */
}
</style>
