---
const siteTitle = "Tresor Kasenda";
---

<header>
    <div class="mx-auto max-w-5xl py-6 border-x border-gray-200 px-4">
        <div class="flex items-center justify-between">
            <div class="flex items-center space-x-10">
                <h1 class="font-semibold text-xl leading-tight">
                    <span class="text-blue-600">Tresor</span> <span>Kasenda</span>
                </h1>
                <ul class="flex items-center justify-center space-x-4">
                    <li>
                        <a href="#" class="text-balance text-gray-600">Services</a>
                    </li>
                    <li>
                        <a href="#" class="text-balance text-gray-600">Case studies</a>
                    </li>
                    <li>
                        <a href="#" class="text-balance text-gray-600">About me</a>
                    </li>
                    <li>
                        <a href="#" class="text-balance text-gray-600">Contact us</a>
                    </li>
                </ul>
            </div>
            
            <ul class="flex items-center space-x-4">
                <li>
                    <a href="#" class="text-gray-600 border border-gray-300 px-6 py-3 rounded-full">See mu work</a>
                </li>
            </ul>
        </div>
    
    </div>
</header>
